<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @master.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @master.email %>
</p>

<p>
  <strong>Publickey:</strong>
  <%= @master.publickey %>
</p>

<p>
  <strong>Privatekey:</strong>
  <%= @master.privatekey %>
</p>

<%= link_to 'Edit', edit_master_path(@master) %> |
<%= link_to 'Back', masters_path %>
