<p id="notice"><%= notice %></p>
I am in send.html.erb page
<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Login:</strong>
  <%= @member.login %>
</p>

<%= link_to 'Back', members_path %>
